@import '~sass/variables';
@import "~sass/mixins";


.bubbles{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    transform: translateZ(0);

    li{
        position: absolute;
        list-style: none;
        display: block;
        background: lighten($customBackground, 50);
        opacity: .2;
        bottom: -100px;
        animation: bubble 20s infinite;
        transition-timing-function: linear;
        z-index: 0;

        &:nth-child(1){
            width: 40px;
            height: 40px;
            left: 18%;
        }

        &:nth-child(2){
            width: 60px;
            height: 60px;
            left: 37%;
            animation-delay: 2s;
            animation-duration: 17s;
        }
        &:nth-child(3){
            width: 19px;
            height: 19px;
            left: 54%;
            animation-delay: 3s;
            animation-duration: 12s;
        }
        &:nth-child(4){
            width: 30px;
            height: 30px;
            left: 64%;
            animation-delay: 2.5s;
            animation-duration: 20s;
        }
        &:nth-child(5){
            width: 78px;
            height: 78px;
            left: 70%;
            animation-delay: 4s;
            animation-duration: 22s;
        }
        &:nth-child(6){
            width: 24px;
            height: 24px;
            left: 89%;
            animation-delay: 3s;
            animation-duration: 16s;
        }
    }

    @keyframes bubble {
        0% {
            transform: translateY(0);
        }
        100%{
            transform: translateY(-2000px) rotate(900deg);
        }
    }
}