<div class="container">
  <header>
    <app-navbar></app-navbar>
  </header>
  
  <main>
    <div class="title-bg"></div>
      <div class="title-overlay"></div>
      <div class="title-content">
          <h1>Bakery Shop</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit perspiciatis expedita eum tenetur maiores,
             architecto eveniet enim vel esse velit.</p>
          <a (click)="goToDiv('food')">See More</a>
      </div>

      <section id="food">

            <div *ngFor = "let foods of food">
              <div class="thumbnail">
                <div class="foodoverlay"></div>
                  <img src="{{foods.image}}" alt="">
                  <div class="info">
                    <h1>{{foods.foodName}}</h1>
                    <p>{{foods.description}}</p>
                    <small>{{foods.price}}</small>
                  </div>
              </div>
                  
            
            </div>
        
      </section>

      <footer>
        <h4>Hours will go here...</h4>
      </footer>
  </main>
</div>
