<div class="container">
  <header>
    <app-navbar></app-navbar>
  </header>
  
  <main>
    <div class="title-bg"></div>
      <div class="title-overlay"></div>
      <div class="title-content">
          <h1>BAKERY SHOP</h1>
          <p>Welcome to my bakery! Here you will see my portfolio of delicious baked goods that I have made over the years.
          </p>
          <a pageScroll href="#food"><i class="fa fa-chevron-down fa-2x" aria-hidden="true"></i></a>
      </div>

      <section id="food">

            <div *ngFor = "let foods of food" lazy-load-images>
              <div class="thumbnail">
                <div class="foodoverlay"></div>
                  <img attr.data-src="{{foods.image}}" alt="">
                  <div class="info">
                    <h1>{{foods.foodName}}</h1>
                    <p>{{foods.description}}</p>
                    <small>{{foods.price}}</small>
                  </div>
              </div>
                  
            
            </div>
        
      </section>

      <footer>
        <h4>Hours <br>
          <div class="hours">
            <b class="spacing">M-F</b> 8:00am - 4:00pm<br>
            <b class="spacing">Sat</b> 8:00am - 12:00pm<br>
            <b class="spacing">Sun</b> Closed
          </div>
        </h4>
      </footer>
  </main>
</div>


