<div class="container">
    <h1>My Projects</h1>

    <h4>
      Welcome to my project page! Here you will find some screenshots of projects that I have worked on in the past.
      For each project, you will find an intro section that describes what the project is and what role my role was. 
      Following the intro, you will see screenshots with descriptions. 
    </h4>

    <h4>
      As of right now, you will find two projects listed. These projects are ones that I believe to be my biggest accomplishments.
      Overtime, I will be adding additional projects. Either new ones I will work on or some early projects from school.
    </h4>

    <h5>
      To start, click on one of the projects below and prepare to be amazed! ...or not
    </h5>
    <i class="fa fa-arrow-down" aria-hidden="true"></i>
</div>
