<div class="container">
    <ngx-carousel
    [inputs]="carouselTile"
    (carouselLoad)="carouselTileLoad($event)">
    <ngx-tile NgxCarouselItem>
        <div class="tileBox">
            <h1>AstroNOC</h1>
            <h4>Project Description</h4>
            <p class="projectDetails">
                AstroNOC was a project that I worked on during my internship at United Shore. The idea of
                this project was to create a web-based dashboard that would increase transparency for the entire IT department. Whenever a system
                was acting slow or something wasn't working, the NOC team would get a lot of calls/messages asking what is wrong. This wastes a lot of time 
                time for the NOC team, so this application was created to allow users to quickly look up and see what the issue was themself.
            </p>
            <h4>My Role:</h4>
            <p>Lead UI Developer</p>
        </div>
    </ngx-tile>
    
          <ngx-tile NgxCarouselItem *ngFor="let Tile of carouselTileItems">
            <div class="tileBox">
                <img src="{{Tile.image}}" alt="">
                <p>{{Tile.details}}</p>
            </div>
              
          </ngx-tile>
    
        <button NgxCarouselPrev class='leftRs'>&lt;</button>
        <button NgxCarouselNext class='rightRs'>&gt;</button>
    </ngx-carousel>
</div>
