<div class="container">
  <header>
    <app-navbar></app-navbar>
  </header>

  <main>
    <div class="projectArea">
      <ng-container *ngComponentOutlet="project"></ng-container>
    </div>
    
  </main>

  <footer>
    <ul>
      <li [class.active]="project == lots">
          <a (click)="changeComponent(lots)">Lots!</a>
      </li>
      <li [class.active]="project == astroNOC">
          <a (click)="changeComponent(astroNOC)">AstroNOC</a>
      </li>
      <li [class.active]="project == intro">
          <a (click)="changeComponent(intro)">???</a>
      </li>
      <li>
          <a (click)="changeComponent(intro)">???</a>
      </li>
    </ul>
  </footer>

</div>
